<header class="site-header">

  <div class="site-header-wrapper">
    
    
    <!--<a class="site-header-back-button" href="{{ site.baseurl }}/">
      <img src="{{ site.baseurl }}/assets/img/icons/button_back.png"/>
    </a>-->
    
    <a class="site-title" href="{{ site.baseurl }}/">
      <img src="{{ site.baseurl }}{{site.logo}}" alt="{{site.title}} logo" class="site-logo"/>
    </a>

    {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
    {% for page in pages %}
     <a href="{{ site.baseurl }}{{ page.url }}"><img src="{{ site.baseurl }}/assets/img/icons/{{ page.lang }}.png" style="width:40px"></a>
    {% endfor %}
  

    <a class="site-header-menu-button dont-use-ios-override" href="{{ site.baseurl }}/">
      <img src="{{ site.baseurl }}/assets/img/icons/menu_icon.png"/>
    </a>


  </div>


</header>
