<header class="site-header">
  
  <a class="site-title" href="{{ site.baseurl }}/">
    <img src="{{ site.baseurl }}{{site.logo}}" alt="{{site.title}} logo" class="site-logo"/>
  </a>
  
  <nav>
    ...
    {% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
    {% for post in posts %}
     <a href="{{ site.baseurl }}{{ post.url }}">{{ post.lang }}</a>
    {% endfor %}
    
    {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
    {% for page in pages %}
     <a href="{{ site.baseurl }}{{ page.url }}">{{ page.lang }}</a>
    {% endfor %}
    </nav>


</header>
