
<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
<div class="home">
 {% include tagmanager.html %}
    {% include header-episode.html %}
  
   <div class="page-content">

     <div class="wrapper welcome">

        <div class="slick-container post-hero-image-container">
            <div class="slick-post-hero-image">
           
                <div class="post-hero-image">    
                  <img src="{{ site.baseurl }}{{ site.episode_hero_path }}copertina.png" alt="{{hero.alt_text}}"/>
                </div>
       
            </div>
        </div>


      <p style="text-align: center;">{{ site.index_page_text_en }}</p>

  <ul class="post-list">
    {% assign pages = site.pages | sort: 'page_rank' %}
    {% for my_page in pages %}{% if  my_page.section_title != null  and my_page.type == 'stopen' %}<li>
        <a class="post-link" href="{{ my_page.url | prepend: site.baseurl }}" style="background-image: url('{{ site.baseurl }}{{ site.headphones_icon_color }}');">
          <span class="post-item">{{ my_page.stop_id }}</span>
        </a>
      </li>{% endif %}{% endfor %}
  </ul>

<!--

For reference: This is a list of all the stops and titles in this audio guide

{% assign pages = site.pages | sort: 'page_rank' %}
    {% for my_page in pages %}{% if  my_page.section_title != null  and my_page.type == 'stop' %}
Stop #: {{ my_page.stop_id }}
Section Title: {{ my_page.section_title }}
Title: {{ my_page.title }}
      {% endif %}{% endfor %}
      -->


  
<!--
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
-->
<p class="skip-text">
  <a href="{{ site.baseurl }}/welcome" style="color:white" >
      You need help?
  </a>
</p>
</div>
</div>
{% include footer.html %}
</div>
</body>

</html>